<div class="content-header">
    <ul class="content-header-action pull-right">
        <li>
            <a href="#">
                <span data-chart="peity-bar" data-height="32" data-colours='["#00A600", "#00A600"]'>5,3,9,6,5,9,7,3,5,2</span>
                <div class="action-text color-green">8765 <span class="helper-font-small color-silver-dark">Visits</span></div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <span data-chart="peity-bar" data-height="32" data-colours='["#00A0B1", "#00A0B1"]'>9,7,9,6,3,5,3,5,5,2</span>
                <div class="action-text color-teal">1437 <span class="helper-font-small color-silver-dark">Users</span></div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <span data-chart="peity-bar" data-height="32" data-colours='["#BF1E4B", "#BF1E4B"]'>6,5,9,7,3,5,2,5,3,9</span>
                <div class="action-text color-red">4367 <span class="helper-font-small color-silver-dark">Orders</span></div>
            </a>
        </li>
    </ul>
    <h2><i class="icofont-home"></i> Dashboard <small>welcome to stilearn</small></h2>
</div><!-- /content-header -->
