<div class="box corner-all">
    <div class="box-header grd-white color-silver-dark corner-top">
        <div class="header-control">
            <a data-box="collapse"><i class="icofont-caret-up"></i></a>
        </div>
        <span>Schedule this month</span>
    </div>
    <div class="box-body">
        <div id="schedule"></div>
    </div>
</div>
