<div class="panel-search">
    <form class="form-search">
        <div class="input-icon-append">
            <button type="submit" rel="tooltip-bottom" title="search" class="icon"><i class="icofont-search"></i></button>
            <input class="input-large search-query grd-white" maxlength="23" placeholder="Search here..." type="text">
        </div>
    </form>
</div><!--/panel search-->
