<!-- content-body -->
<div class="content-body">
    <!-- dashboar -->
    <!-- shortcut button -->
    <!-- tab stat -->
    <!-- tab resume content -->
   
	<%= render 'layouts/content/span6' %>
   	<%= render 'layouts/content/tab' %>
    <!--schedule-->
    <div class="divider-content"><span></span></div>
	<%= render 'layouts/content/schedule' %>
    <!--schedule-->
  
    <!--/dashboar-->
</div><!--/content-body -->
